@charset "UTF-8";
@font-face {
  font-family: "DinProBlack";
  src: url("DINpro-Black.otf"); }
@font-face {
  font-family: "DinPro";
  src: url("DINpro.otf"); }
* {
  font-family: 'DinPro', sans-serif;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* Контейнер */
.modal {
  /* Слой перекрытия */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  /* Трансформации прозрачности при открытии  */
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
  /* Скрываем изначально */
  opacity: 0;
  pointer-events: none; }
  .modal h2 {
    font-size: 36px;
    padding: 0 0 20px; }
  .modal h3 {
    font-size: 35px;
    font-family: "DinProBlack";
    color: #282828;
    line-height: 0.629;
    text-align: center; }
  .modal .info {
    font-size: 17px;
    color: #282828;
    line-height: 1.647;
    margin: 15px 40px 20px;
    text-align: center; }
  .modal .center {
    text-align: center; }
  .modal .control-label {
    font-size: 14px;
    color: #3b3b3b;
    font-family: "DinProBlack";
    line-height: 1.429; }
  .modal fieldset {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    margin-bottom: 30px; }
  .modal legend {
    background-color: #fff;
    padding: 0 6px;
    margin-left: 19px; }
  .modal .input-phone, .modal .input-name, .modal .input-text {
    margin-bottom: 10px; }
    .modal .input-phone input[type="tel"], .modal .input-phone input[type="text"], .modal .input-phone textarea, .modal .input-name input[type="tel"], .modal .input-name input[type="text"], .modal .input-name textarea, .modal .input-text input[type="tel"], .modal .input-text input[type="text"], .modal .input-text textarea {
      border-width: 0;
      background-color: #fff;
      font-size: 20px;
      width: 100%;
      height: 48px;
      padding: 0 20px; }
    .modal .input-phone.anim, .modal .input-name.anim, .modal .input-text.anim {
      opacity: 1; }
    .modal .input-phone textarea, .modal .input-name textarea, .modal .input-text textarea {
      height: 82px;
      resize: none; }
  .modal input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
    padding: 5px 20px; }
  .modal .checkbox {
    color: #969696; }
    .modal .checkbox a {
      color: #969696; }
      .modal .checkbox a:hover {
        color: #7d7d7d; }
  .modal .btn #send.btn {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #1492e5;
    border: 0;
    width: 100%;
    height: 62px;
    cursor: pointer;
    font-size: 18px;
    font-family: DinProBlack;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center; }
    .modal .btn #send.btn:hover {
      background-color: #1074b6; }
  .modal .btn .ОТПРАВИТЬ {
    font-size: 18px;
    font-family: "DINPro"; }
  .modal .modal_title {
    display: block;
    text-align: center;
    font-size: 22pt; }

/* Показываем модальное окно */
.modal:target {
  opacity: 1;
  pointer-events: auto; }

/* Содержание */
.modal > div {
  width: 544px;
  background: #ffffff;
  position: relative;
  margin: 6% auto;
  /* По умолчанию минимизируем анимацию */
  -webkit-animation: minimise 500ms linear;
  /* Придаем хороший вид */
  padding: 30px 40px;
  -moz-border-radius: 3px;
  border-radius: 20px;
  border: 3px solid #1492e5; }

.modal.policy > div {
  width: 80%;
  height: 80%; }
  .modal.policy > div div.over {
    height: 100%;
    overflow-y: scroll; }
  .modal.policy > div .info p {
    padding: 5px 0; }
  .modal.policy > div .info ul {
    padding-left: 20px; }

/* Изменяем анимацию при открытии модального окна*/
.modal:target > div {
  -webkit-animation-name: bounce; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1); }
  55% {
    -webkit-transform: scale3d(1.08, 1.08, 1); }
  75% {
    -webkit-transform: scale3d(0.95, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1); } }
@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1, 1, 1); }
  100% {
    -webkit-transform: scale3d(0.1, 0.1, 1); } }
/* Ссылка на кнопку Закрыть */
.modal a[href="#close"] {
  position: absolute;
  right: 0;
  top: 0;
  color: transparent; }

/* Сбрасываем изменения */
.modal a[href="#close"]:focus {
  outline: none; }

/* Создаем кнопку Закрыть */
.modal a[href="#close"]:after {
  content: '\00D7';
  font-size: 50px;
  font-weight: 100;
  /* Позиционируем */
  position: absolute;
  right: -30px;
  top: -22px;
  /* Стили */
  text-decoration: none;
  color: #a7a7a7; }

.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  color: #0688fa; }

.modal a[href="#close"]:focus:after {
  outline: 0px solid #000; }

/* Открываем модальное окно */

/*# sourceMappingURL=style.css.map */
